<%= form_for(@survey) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :survey_name %>
  </div>

  <%= form.fields_for :questions do |builder| %>
    <fieldset>
      <%= builder.label :question_content, "Question" %><br/>
      <%= builder.text_area :question_content %><br/>
      <%= builder.fields_for :answers do |f| %>
        <fieldset>
            <%= f.text_area :answer_type %>
            <%= f.text_area :answer_content %><br/>
        </fieldset>
    </fieldset>
    <% end %>
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
